body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column; /* 將flex容器內的子元素排列成一列（垂直方向） */
    background-size: cover;
    background-position: center;
}
.back-button, .ans-button {       
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(255, 255, 255); /* 設置按鈕邊框顏色和寬度 */
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent; /* 使按鈕背景顏色透明 */
    font-size: 16px;
    z-index: 10; /* 確保按鈕在其他元素之上 */
}
.back-button {
    position: absolute;
    padding: 10px 3px; /* 改button內距 */
    top: 10px; 
    left: 7px; 
    width: 90px; 
}
.ans-button {
    padding: 10px 5px; 
    margin-top: 20px; /* 改button間的距離 */
    width: 250px;
    transition: background-color 0.5s ease, color 0.5s ease, background 0.5s ease;
}
video {
    position: absolute; 
    padding: 10px;
    top: 190px; 
    width: 370px; 
    height: 400px; 
    display: block;
}
.correct-answer {
    background: linear-gradient(45deg, green, lime);
    color: white;
}
.wrong-answer {
    background: linear-gradient(45deg, red, darkred);
    color: white;
}
#index { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/元大期貨封面.jpg'); }
#q1 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/Q1.jpg'); }
#a1 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/A1.jpg'); }
#q2 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/Q2.jpg'); }
#a2 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/A2.jpg'); }
#q3 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/Q3.jpg'); }
#a3 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/A3.jpg'); }
#q4 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/Q4.jpg'); }
#a4 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/A4.jpg'); }
#q5 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/Q5.jpg'); }
#a5 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/A5.jpg'); }
#q6 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/Q6.jpg'); }
#a6 { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁/img/A6.jpg'); }
#thanks { background-image: url('https://cdn.jsdelivr.net/gh/Zruien/Zruien.github.io@ryan/iTRADER亮點網頁//img/感謝頁面.jpg'); }

.form {
    position: absolute;
    width: 17%;
    top: 330px;
    left: 100px;
    z-index: 10;  
}
.iTRADER {
    position: absolute;
    width: 27%;
    top: 330px;
    left: 218px;
    z-index: 10; 
}
